{
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"quoteProps": "consistent",
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"printWidth": 120,
	"singleAttributePerLine": true,

	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[@/](.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
